
students/stephanie /.DS_Store
students/stephanie /img/.DS_Store
students/stephanie /wp_ex1.html
.DS_Store
students/.DS_Store
examples/week2/pt5_grid.html
students/stephanie /wp_ex1.html
*.html
.DS_Store
students/.DS_Store
