header{
  font-family: Arial;
  font-size: 20px;

}



.square2{
  height:35px;
  width:250px;
  background-color:yellow;
  top: 85px;
  position: absolute;
}

.square3{
  height:150px;
  width:35px;
  background-color:yellow;
  left: 85px;
  top:31px;
  position: absolute;

}

.square{
  height:150px;
  width:250px;
  background-color:blue;
  position:relative;
}

.square4{
  height:150px;
  width:250px;
  background-color:red;
  border-color: black;
  border-width: thin
  position:relative;
}

.square5{
  height:50px;
  width:250px;
  background-color:white;
  top: 265px;
  position: absolute;
}
